section#corpo {
	display: block;
	width: 500px;
	float: left;
}

aside#lateral-dir {
	display: block;
	float: right;
	position: relative;
	margin: -262px 375px 0px;
    padding: 0px 10px;
}
nav#noticia-1{
			font-size: 18pt;
			font-family: Arial, Verdana;
			/* width significa largura*/
			width: 400px;
			margin: -45px -30px;
			padding: 0px 10px;
			background-color: #ffffff;
			box-shadow: 1px 1px 2px;
			
		}
nav#propaganda-1{
			/* width significa largura*/
			font-family: Arial,Verdana;
			width: 400px;
			/*margin: -262px;
			padding: 0px 10px;*/
			background-color: #ffffff;
			box-shadow: 1px 1px 2px;
		}

body{
			background-color: #dcdcdc;
			margin: -20px 100px;
		}

input#check{
			display: none;

		}

label#icone{
			/*margin é a posição do icone na tela 10px é cima, 3px é esquerda  */
			margin: 10px 0px;
			cursor: pointer;
			padding: 15px;
			position: absolute;
			z-index: 1;
		}

.barra {
			background-color: #483d8b;
			height: 100%;
			width: 300px;
			position: absolute;
			transition: all .2s linear;
			left: -300px;
			/*este margin é responsável por subir descer cima ou baixo da barra */
			margin: -0px 0px 0px 0px;
		}

ul{
			width: 100%;
			position: absolute;
			top: 60px;
			list-style: none;
			text-transform: uppercase;
			margin: -2px 0px 0px 0px;
			padding: 0px;
		}

ul a{
			text-decoration: none;
		}

.link{
			background-color: #494950;
			padding: 20px;
			font-family: Arial, Verdana;
			font-size: 12pt;
			transition: all .1s linear;
			color: #f4f4f9;
			border-bottom: 2px solid #222;
			opacity: 0;
			margin-top: 20px;
		}

.link:hover{
			background-color: #050542;
}

#check:checked ~ .barra{
			transform: translateX(300px);


}

#check:checked ~ .barra ul a .link{
	opacity: 1;
	margin-top: 0;
	transition-delay: .1s;
}

header#cabecalho {
	border-bottom: 80px #191970 solid;
	margin: 50px -100px;
	padding: 0px;
}